.weblogo{
    width: 100;
}
.navbar{
    background: lightgrey!important;
}
.navbar-nav li{ 
    padding: 0 10px;                                                   
}
.navbar-nav li a{
    color: fff!important; 
    font-size: 15px; 
    font-weight: 600;
} 
.moblogo{
    display: none;
}

.a ul li a{
    text-transform: uppercase !important;
    color: black !important;
    font-family: 'Courier New', Courier, monospace;
    
}
.as{
    padding-right: 100px;
}
/* nav bar css end */
.h:hover{
    color: rgb(151, 141, 81)!important;
}

.img{
    height: 300px;
    filter: brightness(0.80);
    transition: all 0.4s ease-in;
}
.img:hover{
    filter: brightness(1);
    cursor: pointer;
    transform: scale(1.10);
}
.img2{
    filter: brightness(0.80);
    transition: all 0.4s ease-in;
}
.img2:hover{
    filter: brightness(1);
    cursor: pointer;
    transform: scale(1.01);
}



footer {
    background-color:lightgray /* Dark background */
}

footer h5 {
    margin-bottom: 1rem; /* Add some spacing below headings */
    
}

footer p {
    font-size: 0.875rem; /* Adjust font size for readability */
}

footer a {
    font-size: 1.25rem; /* Increase icon size */
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

footer a:hover {
    color: #007bff; /* Change color on hover */
}
.navbar .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 5px; /* Optional: Adjust the position of the dropdown */
}