.weblogo{
    width: 100;
}
.navbar{
    background: lightgrey!important;
}
.navbar-nav li{ 
    padding: 0 10px;                                                   
}
.navbar-nav li a{
    color: fff!important; 
    font-size: 15px; 
    font-weight: 600;
} 
.moblogo{ 
    display: none;
}
/* .navbar-nav a:hover{
    background-color:white;
} */
/* 
@media(max-width:768px)
{
    .img123{
        width: 100%;
        margin-top: 20px;
    }
    .moblogo{
        display: block;
    }
    .weblogo{
        display: none;
    }
    .navbar{
        background: lightgray!important;
    }
} */
.a ul li a{
    text-transform: uppercase !important;
    color: black !important;
    font-family: 'Courier New', Courier, monospace;
    
}
.as{
    padding-right: 100px;
}

/* nav bar css end */

.navbar .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 5px; /* Optional: Adjust the position of the dropdown */
}
/* dropdown open krne k liye */