.weblogo{
    width: 100;
}
.navbar{
    background: lightgrey!important;
}
.navbar-nav li{ 
    padding: 0 10px;                                                   
}
.navbar-nav li a{
    color: fff!important; 
    font-size: 15px;  
    font-weight: 600;
} 
.moblogo{ 
    display: none;
}
/* .navbar-nav a:hover{
    background-color:white;
} */
/* 
@media(max-width:768px)
{
    .img123{
        width: 100%;
        margin-top: 20px;
    }
    .moblogo{ 
        display: block;
    }
    .weblogo{
        display: none;
    }
    .navbar{
        background: lightgray!important;
    }
} */
.a ul li a{
    text-transform: uppercase !important;
    color: black !important;
    font-family: 'Courier New', Courier, monospace;
    
}
.as{
    padding-right: 70px;
}
/* nav bar css end */

/* Custom CSS for hover dropdown */
.navbar .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 5px; /* Optional: Adjust the position of the dropdown */
}
p{
    text-align: justify;
    font-size: 13px;
    color: #6c757d;
    word-spacing: 1px;
}

img{
    filter: brightness(0.80);
    transition: all 0.5s ease-in-out;
}
img:hover{
    cursor: pointer;
    filter: brightness(1);
    transform: scale(1.03) ;
}